body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

header {
  border-bottom: 1px solid #e7e9fc;
}

.page-header .container {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0px;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0px;
  margin-right: 76px;
  width: 115px;
  height: 24px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo-accent {
  color: #2e2f42;
}

.menu-link {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
}

.menu-link-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.menu-link-item:hover,
.menu-link-item:focus {
  color: #404bbf;
}

address {
  font-style: normal;
}

.contacts ul {
  display: flex;
  gap: 40px;
}

.contacts .contacts-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contacts-item:hover,
.contacts-item:focus {
  color: #404bbf;
}

.hero {
  background: #2e2f42;
}

.hero .container {
  display: flex;
  flex-direction: column;
  padding: 188px 0;
  justify-content: space-between;
}

.hero-title {
  width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.hero-btn {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  margin: 0 auto;
  padding: 16px 32px;
  min-width: 169px;
  min-height: 56px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  background: #4d5ae5;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.hero-btn:hover,
.hero-btn:focus {
  background: #404bbf;
}

.feature .container {
  margin: 120px auto;
}

.feature-title {
  display: none;
}

.feature-list {
  display: flex;
  gap: 24px;
}

.feature-column {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  flex-basis: calc((100% - 24px * 3) / 4);
}

.feature-column-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.feature-column-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team-title {
  margin-top: 0;
  margin-bottom: 72px;
  padding-top: 120px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-list {
  display: flex;
  gap: 24px;
  margin-top: 0;
  margin-bottom: 120px;
  padding-bottom: 120px;
}

.team-column {
  display: flex;
  flex-basis: calc((100% - 24px * 3) / 4);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  margin-top: 0;
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px 0px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.team-column-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

.team-column-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-column-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.team {
  background: #f4f4fd;
}

.portfolio-title {
  margin-top: 0;
  margin-bottom: 71px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc((100% - 24px * 2) / 3);
  row-gap: 48px;
  column-gap: 24px;
  padding-bottom: 120px;
}

.portfolio-card-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  width: 360px;
}

.portfolio-column-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-column-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0px;
  margin-bottom: 16px;
  width: 115px;
  height: 24px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-logo-accent {
  color: #f4f4fd;
}

.footer-text {
  margin-top: 0;
  width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.page-footer {
  padding: 100px 0;
  background: #2e2f42;
}
